<h2>Cadastrar professor</h2>
<form id="frm_cadastro_professor" class="ccform">
	<div class="ccfield-prepend">
		<input class="ccformfield" type="text" name="nome" placeholder="Nome do professor" >
	</div>
	<div class="ccfield-prepend">
		<select name="id_materia" class="ccformfield" >
      		<%
				for (var i = materia.length - 1; i >= 0; i--){%>
					<option value="<%=materia[i][0]%>"><%=materia[i][1]%></option>
				<%}
			%>
      	</select>
	</div>

	<div class="ccfield-prepend">
		<select name="id_turma" class="ccformfield" >
      		<%
				for (var i = turma.length - 1; i >= 0; i--){%>
					<option value="<%=turma[i][0]%>"><%=turma[i][1]%></option>
				<%}
			%>
      	</select>
	</div>

	<div class="loading">
		<% 
			if(materia.length == 0 || turma.length == 0){%>
				Não é possível concluir cadastro de professor sem antes cadastrar uma matéria e uma turma
			<%}
			else{
		%>
				<input type="submit" class="ccbtn" value="Cadastrar">
		<%
			}
		%>
	</div>
	<input type="hidden" name="tipo" value="professor">
</form>

<h2>Cadastrar turma</h2>
<form id="frm_cadastro_turma" class="ccform">
	<div class="ccfield-prepend">
		<input class="ccformfield" type="text" name="nome" placeholder="Nome da turma" >
	</div>

	<div class="ccfield-prepend">
		<select name="id_materia" class="ccformfield" >
      		<%
				for (var i = materia.length - 1; i >= 0; i--){%>
					<option value="<%=materia[i][0]%>"><%=materia[i][1]%></option>
				<%}
			%>
      	</select>
	</div>

	<div class="loading">
		<% 
			if(materia.length == 0 ){%>
				Não é possível concluir cadastro de turma sem antes cadastrar uma matéria
			<%}
			else{
		%>
				<input type="submit" class="ccbtn" value="Cadastrar">
		<%
			}
		%>
	</div>

	<input type="hidden" name="tipo" value="turma">
</form>

<h2>Cadastrar matéria</h2>
<form id="frm_cadastro_materia" class="ccform">
	<div class="ccfield-prepend">
		<input class="ccformfield" type="text" name="nome" placeholder="Nome da disciplina" >
	</div>

	<input type="hidden" name="tipo" value="materia">

	<div class="loading">
		<input type="submit" class="ccbtn" value="Cadastrar">
	</div>
</form>

<form id="frm_redirect" action="/">
	<input type="hidden" name="pag" value="cadastro">
	<input type="hidden" name="msg" value="cadastrado(a)">
	<input type="hidden" name="status" value="0">
	<input type="hidden" name="textStatus" value="0">
	<input type="hidden" name="nome" value="0">
</form>

<script type="text/javascript">

	function cadastro(params, tipo){
		var req = $.ajax({
			url 		: 'menu/cadastro/' + tipo,
			type 		: 'POST',
			data 		: {
							params: params
						},
			beforeSend: function(){
				$(".loading").html('<img src="img/loading.gif">');
			}
		});

		req.always(function(a, textStatus, c ){
			var status, msg = '';

			if(textStatus == 'success'){
				status = c.status; //jqXHR.always(function( data, textStatus, jqXHR ) { });
				msg = textStatus;
			}
			else{
				status = a.status; //jqXHR.always(function( jqXHR, textStatus, errorThrown ) { });
				msg = c;
			}

		    $("#frm_redirect input[name=status]").val(status);
		    $("#frm_redirect input[name=textStatus]").val(msg);


		    $( "#frm_redirect" ).submit();
		});
	}

	$("#frm_cadastro_professor").validate({
		lang: 'pt-bt',
		rules: {
            nome: { 
            	required: true
            }
        },
		submitHandler: function(form) {
			$(".loading").html('<img src="img/loading.gif">');

			var params = $(form).serializeObject();
			$("#frm_redirect input[name=nome]").val(params.nome);

			cadastro(params, "professor");
		}
	});

	$("#frm_cadastro_turma").validate({
		lang: 'pt-bt',
		rules: {
            nome: { 
            	required: true
            }
        },
		submitHandler: function(form) {
			$(".loading").html('<img src="img/loading.gif">');

			var params = $(form).serializeObject();
			$("#frm_redirect input[name=nome]").val("Turma " + params.nome);

			cadastro(params, "turma");
		}
	});

	$("#frm_cadastro_materia").validate({
		lang: 'pt-bt',
		rules: {
            nome: { 
            	required: true
            }
        },
		submitHandler: function(form) {
			$(".loading").html('<img src="img/loading.gif">');

			var params = $(form).serializeObject();
			$("#frm_redirect input[name=nome]").val("Disciplina " + params.nome);

			cadastro(params, "materia");
		}
	});

</script>